.table__conatainer {
  max-height: 300px;
  min-height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  width: fit-content;
  background-color: azure;
  width: 100%;
}

.table {
  width: 100%;
}

.table__header {
  position: sticky;
  top: 0;
  background: var(--sideBar-bg-color-hover);
}

.table__body {
  margin-top: 30px;
  text-align: center;
}

.table__body p {
  margin: 0px;
}

.table__body tr:nth-child(odd):hover {
  background-color: var(--sideBar-bg-color-hover);
  cursor: default;
}

/* TODO:add property for delete action in Button component */
.button {
  padding: 0.3rem;
  font-size: 0.8rem;
}

.button:hover {
  background-color: var(--delete-color);
}

/* Custom scrollbar for WebKit browsers */
.table__conatainer::-webkit-scrollbar {
  width: 0.9rem; /* Width of the scrollbar */
}

.table__conatainer::-webkit-scrollbar-track {
  background: var(--sideBar-color); /* Background of the scrollbar track */
}

.table__conatainer::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid var(--sideBar-bg-color-hover); /* Adds space around the thumb */
}

.table__conatainer::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-hover); /* Color of the scrollbar thumb when hovered */
}
